html 
{
    min-height: 100%;
}

body
{
    margin: 0;
    background-image: linear-gradient(rgb(47, 47, 54), rgb(62, 61, 67));
}

#gameboard-container
{
    display: grid;
    justify-content: center;
    grid-template-columns: 6vw 6vw 6vw 6vw;
    grid-template-rows: 6vw 6vw 6vw 6vw;
    grid-gap: 0.8vw;
    padding: 4vw;
}

.gameboard-btn-normal
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20%;
    background-color: #62a477;
    box-shadow: 0px 1vw #008b8b;
    color: white;
    text-shadow: 0px .2vw #008b8b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vw;
    transition: all 0.2s ease-in-out;
}

#play-btn
{
    color: white;
    text-shadow: 0px .2vw #8c78a5;
    margin: auto;
    display: block;
    padding: 0.5vw;
    border: none;
    border-radius: 20%;
    background-color: #b0a7b8;
    box-shadow: 0px 1vw #8c78a5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
    font-weight: bold;
}

#play-btn:disabled
{
    color: #3e3b65;
    text-shadow: 0px .2vw #10121c;
    background-color: #2c1e31;
    box-shadow: 0px 1vw #10121c;
}

#game-message
{
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
    padding: 2vw;
}