html 
{
    min-height: 100%;
}

body
{
    margin: 0;
    background-image: linear-gradient(rgb(47, 47, 54), rgb(62, 61, 67));
}

.div-disconnect
{
    margin: auto;
    text-align: center;
    margin-top: 2vh;
    color: white;
    text-shadow: 0 0.4vh black;
    font-size: 4vh;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ping-btn
{
    padding: 0;
    display: block;
    margin: auto;
    margin-top: 25vh;
    color: white;
    text-shadow: 0 0.4vh black;
    background-color: rgb(242, 66, 53);
    border: none;
    border-radius: 10%;
    box-shadow: 0vw 1vw rgb(52, 23, 32);
    font-size: 10vh;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ping-btn:hover:enabled
{
    border: 0.6vh solid white;
}

#ping-btn:active:enabled
{
    box-shadow: 0vw 0.5vw rgb(52, 23, 32);
    transform: translateY(1vh);
}

#ping-btn:disabled
{
    background-color: rgb(150, 150, 150);
    box-shadow: 0vw 1vw rgb(90, 88, 95);
}